html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased
}

body {
  font: normal 12px/180% 'Microsoft YaHei', 'pingfang SC', 'helvetica neue';
  color: #333;
  text-align: center;
}

*, *::after, *::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

a:link, a:visited {
  color: #333;
  text-decoration: none;
}

a, img {
  -webkit-touch-callout: none;
}

a:hover {
  color: #c00;
  text-decoration: underline;
}

ol, ul, li {
  list-style: none;
}

em, i {
  font-style: normal;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 100%;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*clear*/

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.g-ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.g-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.g-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.g-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/*header*/

.header {
  height: 35px;
  background: #fff;
}

.header span {
  float: left;
}

.header span img {
  margin-top: 2px;
}

.header em {
  float: right;
  line-height: 35px;
  font-family: \5B8B\4F53;
}

.header em a {
  margin: 0 6px;
}

.header em, .header em a:link, .header em a:visited, .header em a:hover {
  color: #666;
}



#copyright {

  margin: 0px auto;
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
  line-height: 180%;
  clear: both;
}

.w1000 {
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.w1200 {
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pc .no-pc, .phone .no-phone {
  display: none;
}

.phone .no-phone, .pc .no-pc {
  display: none;
}

.so {
  position: absolute;
}

.page {
  width: 100%;
  height: 100%;
}

.show .select-box-0 {
  display: block;
}

.show .ditu {
  display: none;
}

.phone {
  overflow: hidden;
}

.phone .home {
  /* background-image: url('@|phone-bg.png|'); */
}

.phone .w1000, .phone .w1200 {
  width: 98%;
}

.phone .home .so-7 {
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  top: 630px;
}

.phone .home .so-9 {
  top: 1070px;
  font-size: 28px;
}

.phone .page2, .phone .page3 {
  background-image: url('@|phone-bg.jpg|');
}

.phone .no-pc .city-box {
  position: absolute;
  width: 700px;
  top: 300px;
  color: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
}

.phone .page2 .city-box li {
  width: 120px;
  height: 93px;
  line-height: 93px;
  font-size: 30px;
  background-size: 100% auto;
}

.phone .page2 .xuanze {
  left: 0;
  right: 0;
  margin: auto;
  top: 1120px;
}

.phone .page3 .back, .phone .page2 .back {
  left: 33px;
  top: 260px;
}

.phone .page3 .ditu {
  width: 96%;
  top: -220px;
}

.phone .page3 .so-2 {
  left: 60px;
  top: 1060px;
}

.phone .page3 .so-3 {
  left: 59px;
  top: 1110px;
  width: 600px;
  background-image: url('@|phone-select.png|');
  height: 90px;
  font-size: 24px;
  color: white;
  margin: 25px auto;
  left: 0;
  right: 0;
  margin: auto;
}

.phone .page3.show .xuanze {
  margin: 20px auto;
}

.phone .show .select-box-0 {
  left: 0;
  width: 100%;
  right: 0;
  margin: auto;
  top: 0;
  height: auto;
}

.phone .page3 .select-box-3 {
  position: relative;
  display: block;
  width: 640px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.phone .page3 .select-box-4 {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 640px;
  height: 380px;
  background-color: black;
}

.phone .show .phone-arrow-box {
  position: absolute;
  width: 700px;
  height: 990px;
  left: 0;
  right: 0;
  top: 310px;
  margin: auto;
  overflow: auto;
}

.phone .page3 .select-box-2 {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  font-size: 28px;
  line-height: 49px;
  width: 640px;
  margin: 20px auto;
}

.phone .show .phone-arrow-box .so {
  position: relative;
  left: auto;
  top: auto;
  display: block;
  
}

.phone .show .phone-arrow-box .so-2 {
  margin: 30px 52px;
}

.phone .select-box-1 {
  font-size: 32px;
  margin: 20px 0;
}

.phone .show .phone-arrow-box .select-box-5 .so {
  position: absolute;
}

.phone .show .phone-arrow-box .select-box-5 .so.select-box-6 {
  left: 478px;
  top: 7px;
  z-index: -6;
}
.phone .show .phone-arrow-box .select-box-5 .so.select-box-7 {
  left: 34px;
  top: 7px;
  z-index: -7;
}
.phone .show .phone-arrow-box .select-box-5 .so.select-box-8 {
  left: 201px;
  top: 37px;
  z-index: -8;
}
.phone .show .phone-arrow-box .select-box-5 .so.select-box-9 {
  left: 409px;
  top: 37px;
  z-index: -9;
}
.phone .show .phone-arrow-box .select-box-5 .so.select-box-10 {
  left: 279px;
  top: 14px;
  z-index: -10;
}
.phone .show .phone-arrow-box .select-box-5 .so.select-box-11 {
  left: 0px;
  top: 0px;
  z-index: -11;
}

.phone .page3 .select-box-5 {
  display: block;
  margin: 0 auto;
}
.phone .show.page3 .xuanze {
  position: relative;
  bottom: auto;
}